* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Definiamo la variabile globale per il font */
  --main-font: "Open Sans", sans-serif;
}

/* Utility class riutilizzabile */
.font-heavy {
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: var(--main-font);
  margin: 0 auto;
}

.btn-easy {
  color: white;
  padding: 10px 40px;
  background-color: #0582F9;
  font-weight: 600;
  position: absolute;
  transform: translate(50%, 0);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.label-wrapper {
  display: flex;
  justify-content: center;
}


.label-easy {

  color: white;
  padding: 10px 40px;
  background-color: #0582F9;
  font-weight: 600;
  position: relative;
  transform: translate(50%, 0);
  top: -55px;
  left: -512px;

}

.label-easy p{
  font-size: 22px;;
}

main {
  position: absolute;
}